<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="buscador d-sm-flex align-items-sm-center ">
            <div class="tipoBusqueda p-3 border border-secondary me-sm-2 mb-2">
                <fa-icon [icon]="faUtensils" size="lg"></fa-icon>
                <input type="text" class="rounded-pill bordeInputs mx-2" placeholder="Asador">
            </div>
            <div class="ciudadBusqueda p-3 border border-secondary mb-2">
                <fa-icon [icon]="faStore" size="lg"></fa-icon>
                <input type="text" class="rounded-pill bordeInputs mx-2" placeholder="Madrid">
            </div>
            <div class="btnBuscar d-flex justify-content-center">
                <a class="btn btn-danger rounded-pill mx-sm-3" role="button">Buscar</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <h1 class="display-5 text-center">Los mejores restaurantes de Madrid </h1>
        <div class="btn-filtros p-1 d-flex justify-content-center">
            <a class="btn btn-danger rounded-pill mx-2" role="button" (click)="getRestaurantesPuntuacion()">Puntuacion</a>
            <a class="btn btn-danger rounded-pill mx-2" role="button" (click)="getRestaurantesComentarios()">Comentarios</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 p-3 border-top border-bottom d-md-flex flex-md-wrap cardRestaurante border-end" *ngFor="let restaurante of restaurantes">
        <div class="imagenRestaurante" routerLink="/restaurantes/{{ restaurante._id }}">
            <img src="assets/img/{{restaurante.foto}}" alt="imagen restaurante">
        </div>
        <div class="datosRestaurante">
            <a name="" id="" class="btn btn-warning mb-3 btn-tipo" role="button">{{restaurante.tipo}}</a>
            <p >{{restaurante.nombre}}</p>
            <p class="nombre-localidad">{{restaurante.ubicacion}}</p>
            <p><img class="masInfo" src="assets/img/likes.png" alt="">{{ restaurante.likes }}</p>
            <p><img class="masInfo" src="assets/img/comentario.png" alt="">{{ restaurante.comentarios.length }}</p>
        </div>
    </div>
</div>