<div class="row">
    <div class="col">
        <h1 class="text-center my-3">Panel de administración</h1>
    </div>
</div>
<div class="row">
    <div class="col d-flex">
        <div class="card mx-3" style="width: 18rem;">
            <img src="assets/img/adm_res.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Restaurantes</h5>
              <p class="card-text">Gestion de restaurantes</p>
              <a href="#" class="btn btn-danger">Gestionar</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="assets/img/adm_usuarios.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Usuarios</h5>
              <p class="card-text">Gestion de usuarios</p>
              <a href="#" class="btn btn-danger">Gestionar</a>
            </div>
          </div>
    </div>
</div>
