<section class="main d-flex" id="fondo-registro">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 text-white">
                <h1 class="tituloRegistro d-none d-md-block">Iniciar Sesion</h1>
                <hr class="bg-light d-none d-md-block">
                <p class="h4 text-center text-md-start">Inicia sesion y accede a tus resenas, podras crear, editar y
                    eliminar. Si no estas registrado unete a nosotros</p>
                <div class="text-center text-md-start">
                    <!-- <button class="btn btn-danger btn-lg">
                        Adelante
                        <i class="fas fa-play mx-2"></i>
                    </button> -->
                </div>
            </div>

            <!-- formulario -->
            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center text-dark"><strong>Iniciar Sesion</strong></h3>
                        <hr>
                        <form action="#" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" name="usuario" id="usuario" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput" class="text-dark"><i
                                        class="fas fa-user mx-2"></i>Usuario</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" id="password" class="form-control"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput" class="text-dark"><i
                                        class="fas fa-key mx-2"></i>Contrasena</label>
                            </div>
                            <div class="text-center text-md-start my-2">
                                <button class="btn btn-danger" type="button" id="btnAcceder">
                                    Acceder
                                </button>
                                <button class="btn btn-secondary my-2" type="button" id="btnRegistro">
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mensajeError text-danger mx-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>