<div class="row">
    <div class="col-md-6">
        <div id="carouselId" class="carousel slide my-4" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="" class="d-block w-100" alt="First slide">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>ID: {{ id }} </h2>
    </div>
</div>
