<div class="row d-md-flex justify-content-md-center">
    <div class="col-md-6">
        <div id="carouselId" class="carousel slide my-4" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="assets/img/{{ resSelected.foto }}" class="d-block w-100" alt="First slide">
                </div>
            </div>
        </div>
        <!-- <div class="comentarios">
            {{resSelected.comentarios}}
        </div> -->
    </div>
    <div class="col-md-6">
        <h3> {{resSelected.nombre}} </h3>
        <p class="txt-descripcion">{{ resSelected.descripcion }}</p>
    </div>
    <div class="comentarios">{{ resSelected.comentarios }}</div>
    <div class="btn-volver">
        <a class="btn btn-danger" routerLink="/restaurantes"  role="button">Volver</a>
    </div>
</div>